#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-content ion-toolbar {
  --background: translucent;
}

ion-toolbar{
  background-color: rgb(0, 158, 224);
}

ion-content{
  --ion-background-color: #91ac8d;
}

ion-fab{
  width: 50px;
}

#img-temas {
  max-width: 70%;
}

.img-tipo {
  max-width: 110%;
}

.img-banderas {
  max-width: 150%;
}

#f-boton-idioma{
  top: 10px;
}

.item-img{
 max-width: 25%;
 margin: auto;
}

ion-button {
  height: 90px;
}

ion-item {
  --padding-top : 0.5em;
  --padding-bottom : 0.5em;
  height: 100px;
}